<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Go Project</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Go MVC Project", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Page Flow", "PageFlowSample", "Go")</li>
                    <li>@Html.ActionLink("Double Tree", "DoubleTreeSample", "Go")</li>
                    <li>@Html.ActionLink("BPMN Editor", "BpmnEditorSample", "Go")</li>
                    <li>@Html.ActionLink("Pipes", "PipesSample", "Go")</li>
                    <li>@Html.ActionLink("Planogram", "PlanogramSample", "Go")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <footer id="footer" class="row">
        <div class="col-sm-4">
            <h3>GoJS</h3>
            <p>by Northwoods Software</p>
            <p>Copyright &copy; 2016-@DateTime.Now.Year <a href="https://www.nwoods.com" target="_blank">Northwoods Software</a></p>
        </div>
        <div class="col-sm-4">
            <ul>
                <li><a href="https://gojs.net/latest/samples/index.html">Samples</a></li>
                <li><a href="https://gojs.net/latest/learn/index.html">Learn</a></li>
                <li><a href="https://gojs.net/latest/intro/index.html">Intro</a></li>
                <li><a href="https://gojs.net/latest/api/index.html">API</a></li>
                <li><a href="https://gojs.net/latest/doc/changelog.html">Changelog</a></li>
                <li><a href="https://github.com/NorthwoodsSoftware/GoJS">GitHub</a></li>
            </ul>
        </div>
        <div class="col-sm-4">
            <ul>
                <li><a href="https://www.nwoods.com/sales/index.html" onclick="ga('send','event','Outbound Link','click','buy');">Buy</a></li>
                <li><a href="https://forum.nwoods.com/c/gojs">Forum</a></li>
                <li><a href="https://twitter.com/northwoodsgo">Twitter</a></li>
                <li><a href="https://www.nwoods.com/contact.html" onclick="ga('send','event','Outbound Link','click','contact');">Contact</a></li>
            </ul>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>